# DISTRIBUTION (feel free to uncomment)
build
dist

# DATABASE
*.sqlite*

# TEMP / CACHE
temp
.sass-cache
.cache
*.spec
*.tmp
*~

# RUNTIME DATA
pids
*.pid
*.seed

# LOGS
[Ll]og*
*.log

# OS CRUFT
.DS_Store
thumbs.db
._*

# DEVOPS
.vagrant
